[Desktop Entry]
Version=1.0
Name=TXTNOMBRE
Comment=Comment
Exec=/usr/bin/TXTNOMBRE
Terminal=false
Type=Application
Icon=TXTNOMBRE
Categories=GNOME;GTK;Huayra;Network;
